@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-all {
    @apply border border-slate-800;
  }
  .border-bottom {
    @apply border-b border-slate-700;
  }
  .outline-all {
    @apply outline outline-slate-700;
  }

  .button {
    @apply cursor-pointer shadow px-3.5 py-2 bg-slate-700 text-accent rounded-md hover:brightness-125;
  }
  .button-sm {
    @apply button py-1.5 px-3 text-xs rounded-full;
  }
  .button-transparent {
    @apply text-accent py-2 px-4 rounded-md shadow-md border border-slate-700 bg-slate-700/20 hover:brightness-150 active:brightness-200;
  }

  .nav-indicator {
    @apply w-8 h-px bg-slate-600 transition-all duration-300;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .input {
    @apply p-3 text-slate-300 bg-slate-700/80 shadow-md outline-none rounded-md;
  }

  .mediaQuery {
    @apply items-center sm:items-stretch  md:items-center  sm:flex-col md:flex-row;
  }

  .opacity-full {
    opacity: 1 !important;
  }

  .mobile {
    @apply sm:hidden;
  }

  .pc {
    @apply hidden sm:block;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: "#0F172A";
  --accent: "#53D1C9";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--primary);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    circle at 50vw 45vh,
    #132149 0%,
    #0f172a 75%
  );
}

h1,
h2 {
  @apply text-2xl text-slate-200 font-bold antialiased;
}

h3,
h4,
h5,
h6 {
  @apply text-base md:text-lg text-slate-300 font-bold antialiased;
}

blockquote {
  @apply text-slate-300 italic antialiased;
}

p,
span,
strong,
em {
  @apply text-sm text-slate-400 antialiased;
}

html,
body {
  scroll-behavior: smooth !important;
  @apply antialiased;
}

figcaption::before {
  content: open-quote;
}
figcaption::after {
  content: close-quote;
}
figcaption {
  quotes: "“" "”" "‘" "’";
}

.hide {
  position: relative;
  filter: blur(4px);
  left: 90px;
  opacity: 0;
  transition: all 1.6s;
}
.show {
  position: relative;
  filter: none;
  left: 0px;
  opacity: 1;
}

.btnEvents {
  pointer-events: auto !important;
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}
