@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-bottom {
    @apply border-b border-slate-700;
  }
  .outline-all {
    @apply outline outline-slate-700;
  }

  .button {
    @apply cursor-pointer rounded-md bg-slate-700 px-3.5 py-2 text-accent shadow hover:brightness-110 dark:hover:brightness-125;
  }
  .button-sm {
    @apply button rounded-full bg-slate-200 px-3 py-1.5 text-xs dark:bg-slate-700;
  }
  .button-transparent {
    @apply rounded-md border border-slate-400/30 bg-white/20 px-4 py-2 text-slate-600 shadow-md hover:brightness-110 active:brightness-125 dark:border-slate-700 dark:bg-slate-700/20 dark:text-slate-400 dark:hover:brightness-150 dark:active:brightness-200;
  }

  .accent {
    @apply text-accent !important;
  }

  .nav-indicator {
    @apply h-px w-8 bg-slate-600 transition-all duration-300;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .input {
    @apply rounded-md  bg-slate-200/70 p-3  text-slate-600  shadow-md outline-none placeholder:text-slate-600/50 dark:bg-slate-700/80 dark:text-slate-300 dark:placeholder:text-slate-400/50;
  }

  .mediaQuery {
    @apply items-center sm:flex-col  sm:items-stretch  md:flex-row md:items-center;
  }

  .opacity-full {
    opacity: 1 !important;
  }

  .shadow-img {
    box-shadow: 0 3px 15px 1px rgba(13, 25, 42, 0.4);
  }

  .mobile {
    @apply sm:hidden;
  }

  .pc {
    @apply hidden sm:block;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: rgb(227, 223, 221);
}

body {
  background: var(--primary);
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-image: radial-gradient(
    circle at 50vw 45vh,
    #132149 0%,
    #0f172a 70%
  ); */

  --color-primary: 227 221 221;
  --color-accent: 255 119 0;
  --color-txt: 15 23 42; /* text-slate-900 */
}

body.dark {
  --color-primary: 15 23 42;
  --color-accent: 86 209 201;
  --color-txt: 203 213 225; /* text-slate-300 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* --primary: rgb(13, 23, 42); */
  }

  body {
    background-image: radial-gradient(
      circle at 50vw 45vh,
      #132149 0%,
      #0f172a 70%
    );
  }
}

h1,
h2 {
  @apply text-2xl font-bold text-slate-700 antialiased dark:text-slate-200;
}

h3,
h4,
h5,
h6 {
  @apply text-base font-bold text-slate-700 antialiased  dark:text-slate-200 md:text-lg;
}

blockquote {
  @apply italic text-slate-600 antialiased dark:text-slate-300;
}

p,
span,
strong,
em {
  @apply text-sm antialiased;
}

html,
body {
  scroll-behavior: smooth !important;
  @apply antialiased;
}

figcaption::before {
  content: open-quote;
}
figcaption::after {
  content: close-quote;
}
figcaption {
  quotes: "“" "”" "‘" "’";
  @apply text-txt dark:text-slate-200 dark:sm:text-slate-100;
}

.hide {
  filter: blur(4px);
  left: 108px;
  opacity: 0;
  transition: all 1.5s ease-out;
}
.show {
  position: relative;
  filter: none;
  left: 0px;
  opacity: 1;
}

@media (max-width: 640px) {
  .hide {
    transition: all 1.1s;
    left: 54px;
  }

  .show {
    left: 0px;
  }
}

@prefers-reduced-motion {
  .hide {
    transition: none;
  }
}

.btnEvents {
  pointer-events: auto !important;
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}
